<!DOCTYPE html>
<html lang="end">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Tutorial | API Example</title>

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" src="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="lead-form">
              <h1 class="text-center">
                Fill Out This Form
              </h1>
            </hr>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Starting Post Code" v-model="startingPCode">
                <span class="Borough-span">{{startingBorough}}</span>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Ending Post Code" v-model="endingPCode">
                <span class="borough-span">{{endingBorough}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-block" id="submit-form">Submit</button>
              </div>
            </div>
          </div> <!-- End of .lead-form-->
        </div> <!-- End of .col-md-6 col-md-offset-3-->
      </div> <!-- End of .row-->
    </div> <!-- End of .container-->
  </div> <!-- End of #app-->

  </body>

  <script src="vue.js"></script>
  <script src="vue@2.5.13/dist/vue.js"></script>
  <script src="axios/dist/axios.min.js"></script>
  <script src="lodash/lodash.min.js"></script>

  <script>
    var app = new Vue({
        el: '#app',
        data: {
          startingPCode: '',
          startingBorough: '',
          endingPCode: '',
          endingBorough: ''
        },
        watch:{
          startingPCode:function(){
          this.startingBorough = ''
          if(this.startingPCode.length == 7){
            //call API method
            this.lookupStartingPCode()
          }
        },
            endingPCode:function(){
            this.endingBorough = ''
            if(this.endingPCode.length == 7){
              //call API method
              this.lookupEndingPCode()
            }
          }
      },
      methods:{
        lookupStartingPCode: _.debounce(function() {
        var app = this
        app.startingBorough = "Searching..."
        axios.get('http://api.postcodes.io/postcodes/' + app.startingPCode)
              .then(function (response){
                app.startingBorough = response.data.result.admin_district
              })
              .catch(function (error){
                app.startingBorough = "Invalid Postcode"
                console.log(error)
              })
      }, 500),
        lookupEndingPCode: _.debounce(function() {
        var app = this
        app.endingBorough = "Searching..."
        axios.get('http://api.postcodes.io/postcodes/' + app.endingPCode)
              .then(function(response){
                app.endingBorough = response.data.result.admin_district
              }).catch(function(error){
                app.endingBorough = "Invalid Postcode"
                console.log(error)
              })
      }, 500)
    }
  })
  </script>
</html>
